<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>пицерия</title>
</head>
<body>
    <div>
        <h6></h6><p>все пицци которие у нас есть:</p></h6>
        1. <em>моццарела</em> цiнна 100 $
        2. <em>4 сирра</em>  цiнна 30 $
        3. <em>карбонара</em> цiнна 55 $
        4. <em>пицца с авокадо</em> цiнна 70 $
        5. <em>пицца паста</em> цiнна 50 $
    </div>
    {% block content %}
    <a href="/">купить пицци</a>
    {% endblock content %}

</body>
</html>










